@font-face {
    font-family: 'gotham';
    src: url('../fonts/gotham/GothamLight.eot');
    src: url('../fonts/gotham/GothamLight.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/GothamLight.woff') format('woff'), url('../fonts/gotham/GothamLight.ttf') format('truetype'), url('../fonts/gotham/GothamLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    font-family: 'gotham';
}

header .logo {
    width: 50%;
    margin-top: -20px;
    cursor: pointer;
}

header .navbar {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 70px;
    font-family: gotham;
}

    header .navbar ul.navbar-nav {
        margin-top: 10px;
    }

        header .navbar ul.navbar-nav li a {
            font-size: 16px;
            color: whitesmoke;
            cursor: pointer;
        }

            header .navbar ul.navbar-nav li a:hover, header .navbar ul.navbar-nav li a:focus {
                background-color: rgba(96, 133, 181, 0.5);
            }

.first-section > .container {
    margin-top: 100px;
}

._inline-two {
    border-bottom: #F8A21D 3px solid;
    padding-bottom: 10px;
}

._inline {
    border-bottom: #298DBA 3px solid;
    padding-bottom: 10px;
}

.form-control {
    color: #212121;
    border-left: #F8A21D 2px solid !important;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group:last-of-type {
        margin-bottom: 100px;
    }

    .form-group .btn {
        background: #65AF68;
        text-transform: uppercase;
    }

form h4 {
    margin-top: 40px;
}


/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

    footer .link-container {
        margin-top: 30px;
    }

        footer .link-container ul {
            list-style: none outside none;
            padding-left: 0;
            color: white;
        }

            footer .link-container ul a {
                color: white;
                cursor: pointer;
            }

    footer .social h4 {
        font-weight: 600;
    }

    footer p {
        text-align: center;
        font-size: 17px;
        margin: 10px auto;
    }

    footer .footer-divider {
        width: 50%;
    }


@media screen and (max-width: 1000px) {
    header .logo {
        width: auto;
        height: 45px;
        margin-top: -10px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    input[type="text"], input[type="number"], input[type="email"], textarea, select {
        font-size: 16px !important;
    }

    h1 {
        font-size: 25px;
    }

    header .logo {
        width: auto;
        height: 45px;
        margin-top: -10px;
    }

    header .navbar {
        min-height: 60px;
        background-color: rgba(0, 0, 0, 0.8);
    }

        header .navbar .navbar-collapse {
            background-color: rgba(0, 0, 0, 0.55);
        }

        header .navbar .navbar-toggle {
            background-color: #B3AEAE;
            margin-top: 10px;
        }

            header .navbar .navbar-toggle .icon-bar {
                background-color: rgb(41, 84, 126);
            }

    .first-section > .container {
        margin-top: 60px;
    }
}
