@font-face {
    font-family: 'gotham';
    src: url('../fonts/gotham/GothamLight.eot');
    src: url('../fonts/gotham/GothamLight.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/GothamLight.woff') format('woff'), url('../fonts/gotham/GothamLight.ttf') format('truetype'), url('../fonts/gotham/GothamLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    font-family: 'gotham';
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 220px; /* bottom = footer height */
}

.italic {
    font-style: italic;
}

header .logo {
    width: 50%;
    margin-top: -20px;
    cursor: pointer;
}

header .navbar {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 70px;
    font-family: gotham;
}

    header .navbar ul.navbar-nav {
        margin-top: 10px;
    }

        header .navbar ul.navbar-nav li a {
            font-size: 16px;
            color: whitesmoke;
            cursor: pointer;
        }

            header .navbar ul.navbar-nav li a:hover, header .navbar ul.navbar-nav li a:focus {
                background-color: rgba(96, 133, 181, 0.5);
            }

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }

.btn-success {
    background: #65AF68;
    -moz-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

    .btn-success:hover {
        background: rgba(101, 175, 104, 0.9);
    }

address {
    font-size: 16px;
}

gm-map {
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
}

.first-section > .container {
    margin-top: 100px;
}

.first-section .offer-container .price {
    font-size: 30px;
}

section.first-section .btn {
    /*width: 70%;
    margin: 0 auto;*/
    letter-spacing: 1px;
    padding: 18px 14px;
}

.price-container {
    text-align: center;
    margin-bottom: 5px;
}

.price-strikethrough {
    text-decoration: line-through;
    color: rgba(115, 105, 105, 0.68);
    font-size: 20px;
    margin-left: 5px;
}

.price {
    color: #F8A21D;
    font-weight: bold;
}

.left-side h3 {
    color: #E86252;
}

.left-side .location-container {
    margin-top: 40px;
}

.review .yelp-logo {
    height: 35px;
}

/* Footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

    footer .link-container {
        margin-top: 30px;
    }

        footer .link-container ul {
            list-style: none outside none;
            padding-left: 0;
            color: white;
        }

            footer .link-container ul a {
                color: white;
                cursor: pointer;
            }

    footer .social h4 {
        font-weight: 600;
    }

    footer p {
        text-align: center;
        font-size: 17px;
        margin: 10px auto;
    }

    footer .footer-divider {
        width: 50%;
    }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .first-section .offer-container h1 {
        font-size: 23px;
        margin-top: 0;
    }

    .first-section .offer-container .price {
        font-size: 23px;
    }

    .first-section .offer-container .price-strikethrough {
        font-size: 16px;
    }

    .first-section .offer-container .btn {
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .first-section .social-container h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    header .logo {
        width: auto;
        height: 45px;
        margin-top: -10px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    input[type="text"], input[type="number"], input[type="email"], textarea, select {
        font-size: 16px !important;
    }

    h1 {
        font-size: 25px;
    }

    header .logo {
        width: auto;
        height: 45px;
        margin-top: -10px;
    }

    header .navbar {
        min-height: 60px;
        background-color: rgba(0, 0, 0, 0.8);
    }

        header .navbar .navbar-collapse {
            background-color: rgba(0, 0, 0, 0.55);
        }

        header .navbar .navbar-toggle {
            background-color: #B3AEAE;
            margin-top: 10px;
        }

            header .navbar .navbar-toggle .icon-bar {
                background-color: rgb(41, 84, 126);
            }

    .first-section > .container {
        margin-top: 70px;
    }
}
