<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="loginApp">
<head>
    <title>
        PriceMet Admin Login
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/merchant-login.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img class="logo img-responsive" src="images/Price-Met_Transp-Background.png" />
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-log-in" ng-click="logIn()">Log in</a></li>
                        <li><a class="nav-sign-up" ng-click="signUp()">Sign up</a></li>
                        <li><a class="nav-contact-us" ng-click="getInTouch()">Get in touch</a></li>
                        <li><a class="nav-help" ng-click="needHelp()">Need help?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="first-section" ng-controller="LoginCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Login</h3>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="youremail@example.com" name="email" type="text" ng-model="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="password">
                                    </div>

                                    <p class="text-danger text-center">{{ errorMessage }}</p>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" onsubmit="return false;" ng-click="login()">
                                    
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <script src="js/angular/services/authentication-service.js"></script>
    <script src="js/angular/angular-admin-login.js"></script>

    <!--Google analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65114946-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>