<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="ResetPasswordApp">
<head>
    <title>
        PriceMet Admin Login
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/merchant-login.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img class="logo img-responsive" src="images/Price-Met_Transp-Background.png" />
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-log-in" ng-click="logIn()">Log in</a></li>
                        <li><a class="nav-sign-up" ng-click="signUp()">Sign up</a></li>
                        <li><a class="nav-contact-us" ng-click="getInTouch()">Get in touch</a></li>
                        <li><a class="nav-help" ng-click="needHelp()">Need help?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="first-section" ng-controller="ResetPasswordCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Reset Password</h3>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" name="passwordForm" novalidate ng-submit="resetPassword()">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="New password" name="password" type="password" value="" ng-model="password" ng-minlength=4 required>
                                        <div class="error-container"
                                             ng-show="passwordForm.submitted && passwordForm.password.$invalid">
                                            <small class="text-danger" ng-show="passwordForm.password.$error.required">
                                                Password is required.
                                            </small>
                                            <small class="text-danger" ng-show="passwordForm.password.$error.minlength">
                                                Password must be at least 4 characters long.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Confirm new password" name="confirmPassword" type="password" value="" ng-model="confirmPassword" ng-minlength=4 required>
                                        <div class="error-container"
                                             ng-show="passwordForm.submitted && passwordForm.confirmPassword.$invalid">
                                            <small class="text-danger" ng-show="passwordForm.confirmPassword.$error.required">
                                                Confirm password is required.
                                            </small>
                                            <small class="text-danger" ng-show="passwordForm.confirmPassword.$error.minlength">
                                                Password must be at least 4 characters long.
                                            </small>
                                        </div>
                                    </div>

                                    <p class="text-danger text-center">{{ errorMessage }}</p>
                                    <p class="text-success text-center">{{ successMessage }}</p>
                                    <button class="btn btn-lg btn-success btn-block" type="submit">Reset Password</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>

    <script src="js/angular/services/authentication-service.js"></script>

    <script src="js/angular/angular-reset-password.js"></script>

    <!--Google analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65114946-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/567af37f6c9554c055776563/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>